// Included if you are using grommet.  Otherwise, just erase this next line.
@import 'grommet-udacity/scss/udacity/index.scss';

// Add globally used utility styles here.
// Or import scss libraries that are to be used without CSS modules.
/*
.my-style {
  max-width: 20px;
  color: goldenrod;
}
<div className="my-style" />
*/

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

.full-height {
  min-height: 100vh;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

a.active {
  color: #2e3d49 !important;
  border-bottom: 2px solid #7d97ad;
}

.panel {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(167, 157, 144, 0.52);
  margin-bottom: 25px;
  position: relative;
  padding: 60px 0 !important;
  max-width: calc(100vw - 20px);
  width: 960px;
}

.grommetux-hero__background {
  height: 720px !important;
  color: white !important;
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 960px;
}

.markdown-body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  div {
    width: 100%;
  }
}

.markdown-body-blog {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  div {
    width: 100%;
  }
}
