.innerContainer {
  width: 768px;
  max-width: 100vw;
  padding: 40px 0;
  @media screen and (max-width: 768px) {
    padding: 0;
  }
}

.work_experience {
  width: 768px;
  background-color: #f7f7f7;
  max-width: 100vw;
  padding: 40px 0;
  @media screen and (max-width: 768px) {
    padding: 0;
  }
}

.avatar {
  width: 200px;
  height: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 50% !important;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.seperator {
  border-color: #525a76 !important;
  width: 90px;
  border-top-width: 2px;
  margin-left: auto;
  margin-right: auto;
}

.about {
  width: 200%
}

.milestones {
  background: linear-gradient(90deg,rgba(247,247,247,0) 0,#edf9fd 100%),linear-gradient(45deg,#f7f7f7 0,#eafaff 100%)
}

.main-text {
  p {
    font-size: 26px !important;
    padding: 10px 40px;
    line-height: 1.75rem;
    letter-spacing: 1.3px;
    @media screen and (max-width: 600px) {
      padding: 10px 10px;
    }
  }
}

.carouselItem {
  padding: 60px;
  box-sizing: border-box;
  width: 1200px;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    line-height: 1.75;
    max-width: 676px !important;
    font-size: 24px !important;
    text-align: justify;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.referenceText {
  margin-bottom: 60px;
}

.labelText {
  margin-top: 6px !important;
  margin-bottom: 6px !important;
}

.labelBottom {
  margin-top: 6px !important;
}

.carousel {
  box-sizing: border-box;
  width: 1200px;
  max-width: 100vw;
  polyline {
    stroke: #666 !important;
    &:hover {
      stroke: white !important;
    }
  }
}

.box {
  max-width: calc(100vw - 30px);
  box-sizing: border-box;
}

.techStackItem {
  background-color: rgba(23, 57, 67, 0.69);
  position: relative;
  opacity: 0.7;
  margin: 5px 0;
  max-width: 970px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 200px;
  transform: scale(0.9);
  transition: transform 5s;
  z-index: 50;
  margin: 0 auto;
  &:hover {
    z-index: 100;
    transform: scale(1.0);
    transition: transform 5s;
  }
  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.techStackWrapper {
  color: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.techStackItemWrapper {
  margin: 20px;
  padding: 20px;
  position: relative;
  width: 100vw;
}

.techStackImageWrapper {
  max-width: 300px;
  max-height: 200px;
  margin-left: 5px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;
}

.techStackItemTitle {
  padding-left: 120px;
}

.techStackTitle {
  color: #fff;
}

.techStackItemOverlay {
  opacity: 0;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 50%;
  background: #237ed2;
  cursor: pointer;
  .content {
    text-align: center;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  &:hover {
    z-index: 100;
    opacity: 1.0;
    transition: opacity 1s;
  }
}

.heading {
  margin-right: 10px;
}

.techstackcolor {
  background: linear-gradient(to bottom right,#02b3e4,#02ccba);
}

.tile {
  margin-right: 20px;
}

.avatarWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.techStackTiles {
  padding-left: 15%;
  padding-right: 15%;
}
