.avatarWrapper {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aside {
  max-width: 250px;
  max-height: 600px;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(46,61,73,.2);
  border: 1px solid #dbe2e8;
  @media screen and (max-width: 1260px) {
    display: none !important;
  }
}

.innerWidgetBox {
  border: 1px solid #dbe2e8;
}

.button {
  padding-right: 5px !important;
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.careerResourcesBlurb {
  max-width: 250px;
}

.boxWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row !important;
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row !important;
}

.innerWrapper {
  width: 80vw;
  justify-content: center;
  @media screen and (max-width: 1000px) {
    width: 70vw;
  }
}

.listWrapper {
  min-height: 750px;
  max-width: 100vw !important;
  box-sizing: border-box;
}

.flexGrow {
  flex-grow: 1;
}

.small {
  max-width: 50px !important;
}


.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid transparent;
  overflow: hidden;
  cursor: pointer;
  transition: all .3s ease-in-out;
  border-radius: 50%;
  border: 1px solid #dbe2e8;
  margin: 0 auto;
  position: relative;
}

.input {
  width: 100%;
}

.panel {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(167, 157, 144, 0.52);
  width: 100%;
  margin-bottom: 60px;
  margin-top: 60px;
  position: relative;
  padding: 60px 0 !important;
  max-width: 900px;
}

.transformAvatar {
  display: inline-block;
  line-height: 1;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: -75px;
  left: 0;
  width: 100%;
}

.isButton {
  cursor: pointer;
}

.paragraph {
  padding: 0 20px;
}
