.card {
  margin-top: 0;
  margin-bottom: 1.5rem;
  background: #fff;
  text-align: left;
  position: relative;
  border: 1px solid #dbe2e8;
  box-shadow: 0 2px 4px 0 rgba(46,61,73,0.12);
  border-radius: 0.125rem;
  transition: box-shadow 0.3s ease, border 0.3s ease;
  margin-right: 1rem;
  margin-left: 1rem;
}

.columns {
  @media screen and (max-width: 1228px) {
    flex-wrap: wrap;
  }
}

.image {
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: auto;
  display: block;
}

.innerBox {
  margin-top: 40px;
  margin-bottom: 80px;
}

.portfolio {
  min-height: calc(100vh - 100px);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: background .5s;
  &:hover {
    background: rgba(0,0,0,0.8);
    p {
      opacity: 1 !important;
    }
  }
  p {
    margin: 0 !important;
    padding: 0 !important;
    font-family: "Raleway", sans-serif;
    font-weight: 300 !important;
    width: 85%;
    font-size: 2rem !important;
    line-height: 2rem !important;
    color: #fff !important;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    opacity: 0 !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: opacity 0.5s !important;
  }
}

.wrapper {
  width: 582px;
  max-width: 100vw;
  box-sizing: border-box;
  margin: 20px;
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

.box {
  max-width: calc(100vw - 30px);
  box-sizing: border-box;
}

.main_text {
  p {
    font-size: 26px !important;
    padding: 10px 40px;
    line-height: 1.75rem;
    letter-spacing: 1.3px;
    @media screen and (max-width: 600px) {
      padding: 10px 10px;
    }
  }
}
